.title {
  border-bottom: 2px solid #000;
}
.list {
  display: flex;
  flex-direction: column;
}

.document-page {
  padding: 25px;
}

.page {
  display: flex;
  column-gap: 10%;
  /* border: 8px solid #000; */
  padding: 10px;
}
.left-side {
  width: 40%;
}
.right-side {
  width: "40%";
}
